@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #a8d0e6;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.slide-in-left-enter {
    transform: translateX(-100%);
}

.slide-in-left-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 200ms;
}

.slide-in-left-exit {
    transform: translateX(0%);
    opacity: 1;
}

.slide-in-left-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 200ms;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-success {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
